body {
    background-color: #D3DEDC;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    padding: 50px;
    color: dimgray;
} 

/* Judul */
h1 {
    color: #576F72;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    color:#576F72;
}

/* Pengaturan Table */
table, tr, td, th {
    border: 4px solid white;
    padding: 8px 10px;
    background-color: #F9F9F9;
    font-family: sans-serif;
    color: rgb(71, 69, 69);
    border-collapse: collapse;
    font-family: serif;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav li {
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: #111;
  }

  /* default(smartphone) */
header > img {
  border-radius: 20%;
  width: 200px;

}

/* tablet*/

@media (min-width: 576px){
  header > img {

  }
}

/* pc*/

@media (min-width: 992px){
  header > img {

  }
}